body {
    background-color: rgb(245, 197, 255);
}

.to-do-list {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 60px;
}

h1 {
    font-size: 4rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

button {
    background-color: rgb(67, 145, 255);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

button:hover {
    background-color: rgb(0, 106, 255);
}

.add-button {
    background-color: rgb(0, 201, 13);
}
.add-button:hover {
    background-color: rgb(0, 163, 11);
}

.delete-button {
    background-color: rgb(255, 0, 0);
}
.delete-button:hover {
    background-color: rgb(220, 0, 0);
}

input[type="text"] {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid rgb(192, 192, 192);
    outline: none;
    font-size: 18px;
    margin-right: 0.5rem;
    width: 35ch;
}
input[type="text"]:focus {
    border: 2px solid rgb(93, 185, 215);
    outline: none;
}

ol{
    padding: 0;
    list-style: none;
    margin-top: 4rem;
}
li {
    background-color: rgb(253, 226, 255);
    font-weight: bold;
    font-size: 18px;
    border: 3px solid rgb(191, 99, 194);
    border-radius: 25px;
    margin: 1rem 8rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 3rem;
}
li>span {
    margin-right: 6rem;
    overflow-x: hidden;
}